<!DOCTYPE>
<html ng-app="ContactListApp">
<head>
        <title>AWS Contact list App</title>
</head>
<body>
        <div class="container" ng-controller="AppCtrl">
                <h1>Contact List App</h1>
                <table class="table">
                        <thead>
                                <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Number</th>
                                </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="contact in contactlist">
                                    <td>{{contact.name}}</td>
                                    <td>{{contact.email}}</td>
                                    <td>{{contact.number}}</td>
                            </tr>
                        </tbody>
                </table>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script type="text/javascript" src="controllers/controller.js"></script>
</body>
